/* ===  Resete CSS ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
  --font-project: 'Montserrat', sans-serif;
}
html{
  font-size: 62.5%;
  background-color: var(--body-background);
}
.container{
  padding: 5.7rem 8.2rem 0;

}

/* ======= HEADER ============== */  
body .home1{
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
header{
  padding: 0 0 9.8rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu{
  color: var(--text-color);
  width: 127.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu p{
  color: var(--text-color);
  font-family: var(--font-project);
  font-weight: 700;
  font-size: 4rem;
}
header .menu p span{
  color: var(--color-logo);
}
header .menu ul{
  display: flex;
  gap: 6rem;
  font-family: var(--font-project);
  font-size: 1.8rem;
  font-weight: 400;
}
header .menu a{
  display: flex;
  align-items: center;
  width: 23rem;
  height: 5rem;
  background-color: #fff;
  color: var(--black-text);
  font-family: var(--font-project);
  font-weight: 700;
  font-size: 1.6rem;
}
header .menu a:hover {
  background-color: var(--color-logo);
  color: #fff;
  transition: 1s;
}
header .menu img{
  width: 3rem;
  height: 3rem;
  margin: 1rem 1.4rem;
}
/* ======= SECTION ============== */  
main.main1{
  display: flex;
  justify-content: center;
}
section.main1{
  display: flex;
  justify-content: space-between;
  width: 127.7rem;
  gap: 4rem;
  align-items: center;
}

section.main1 div.sideleftmain{
}

section.main1 div.sideleftmain p{
  color: var(--text-color);
  font-family: var(--font-project);
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 5.5rem;
}
section.main1 div.sideleftmain div.flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}
section.main1 div.sideleftmain div.artistas{
  position: relative;
}

section.main1 div.sideleftmain div img{
  width: 9.5rem;
  height: 8.6rem;
}
section.main1 div.sideleftmain div img.img1{
 position: absolute;
 left: 0;
 top: -7.7rem;
 z-index: 4;
}

section.main1 div.sideleftmain div img.img2{
  position: absolute;
  top: -7.7rem;
  left: 3rem;
  z-index: 3;
}
section.main1 div.sideleftmain div img.img3{
  position: absolute;
  top: -7.7rem;
  left: 6rem;
  z-index: 2;
}
section.main1 div.sideleftmain div img.img4{
  position: absolute;
  top: -7.7rem;
  left: 8rem;
  z-index: 1;
}

section.main1 div.sideleftmain div p.artists{
  color: var(--text-color);
  font-family: var(--font-project);
  font-size: 1.8rem;
  padding: 0;
}
section.main1 div.sideleftmain div p.artists span{
  font-weight: bold;
}
/*
section.main1 div.grid div img.artist2{
  position: relative;
  left: 11rem;
}
section.main1 div.grid div img.artist3{
  position: absolute;
  left: 14.4rem;
}
section.main1 div.grid div img.artist4{
  position: absolute;
  left: 15.4rem;
}

section.main1 div.grid div p {
  color: var(--text-color);
  font-family: var(--font-project);
  font-size: 1.8rem;
  margin-left: 9rem;
  width: 40rem;
}
*/
/* ===== MEIO ========*/
section.main1 div h1{
  color: var(--text-color);
  font-family: var(--font-project);
  font-size: 5rem;
  font-weight: 700;
  width: 59.6rem;
}
section.main1 div h1 span{
  color: var(--color-logo);
}
/* ===== RIGHT SIDE ========*/

section.main1 div img{
  width: 20rem;
  height: 20rem;
}

/* ======== GALLERY =========*/
section.gallery {
  padding-top: 10rem;
}
section.gallery img{
  width: 30.7rem;
  height: 19.889rem;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
div.gallery1{
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding-bottom: 6.044rem;
}
div.gallery2{
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 1rem;
}
 
