/* ===  Resete CSS ===================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

:root {
	--body-background: #0e0e0e;
	--color-logo: #ff5b50;
	--card-color: #252525;
	--text-color: #fff;
	--subtitle-color: #5a5757;
	--black-text: #000;
	--color-input: #0d0d0d;
	--font-project: "Montserrat", sans-serif;
}
html {
	font-size: 62.5%;
	background-color: var(--body-background);
}
.container {
	padding: 5.7rem 8.2rem 0;
}

/* ======= HEADER ============== */
body .home1 {
	background-image: url(./assets/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
header {
	padding: 0 0 9.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .menu {
	color: var(--text-color);
	width: 127.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .menu p {
	color: var(--text-color);
	font-family: var(--font-project);
	font-weight: 700;
	font-size: 4rem;
}
header .menu p span {
	color: var(--color-logo);
}
header .menu ul {
	display: flex;
	gap: 6rem;
	font-family: var(--font-project);
	font-size: 1.8rem;
	font-weight: 400;
}
header .menu a {
	display: flex;
	align-items: center;
	width: 23rem;
	height: 5rem;
	background-color: #fff;
	color: var(--black-text);
	font-family: var(--font-project);
	font-weight: 700;
	font-size: 1.6rem;
}
header .menu a:hover {
	background-color: var(--color-logo);
	color: #fff;
	transition: 1s;
}
header .menu img {
	width: 3rem;
	height: 3rem;
	margin: 1rem 1.4rem;
}
/* ======= SECTION ============== */
main.main1 {
	display: flex;
	justify-content: center;
}
section.main1 {
	display: flex;
	justify-content: space-between;
	width: 127.7rem;
	gap: 4rem;
	align-items: center;
}

section.main1 div.sideleftmain {
}

section.main1 div.sideleftmain p {
	color: var(--text-color);
	font-family: var(--font-project);
	font-size: 1.8rem;
	font-weight: 400;
	padding-bottom: 5.5rem;
}
section.main1 div.sideleftmain div.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
section.main1 div.sideleftmain div.artistas {
	position: relative;
}

section.main1 div.sideleftmain div img {
	width: 9.5rem;
	height: 8.6rem;
}
section.main1 div.sideleftmain div img.img1 {
	position: absolute;
	left: 0;
	top: -7.7rem;
	z-index: 4;
}

section.main1 div.sideleftmain div img.img2 {
	position: absolute;
	top: -7.7rem;
	left: 3rem;
	z-index: 3;
}
section.main1 div.sideleftmain div img.img3 {
	position: absolute;
	top: -7.7rem;
	left: 6rem;
	z-index: 2;
}
section.main1 div.sideleftmain div img.img4 {
	position: absolute;
	top: -7.7rem;
	left: 8rem;
	z-index: 1;
}

section.main1 div.sideleftmain div p.artists {
	color: var(--text-color);
	font-family: var(--font-project);
	font-size: 1.8rem;
	padding: 0;
}
section.main1 div.sideleftmain div p.artists span {
	font-weight: bold;
}

section.main1 div h1 {
	color: var(--text-color);
	font-family: var(--font-project);
	font-size: 5rem;
	font-weight: 700;
	width: 59.6rem;
}
section.main1 div h1 span {
	color: var(--color-logo);
}
/* ===== RIGHT SIDE ========*/

section.main1 div img {
	width: 20rem;
	height: 20rem;
}

/* ======== GALLERY =========*/
section.gallery {
	padding-top: 10rem;
}
section.gallery img {
	width: 30.7rem;
	height: 19.889rem;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}
div.gallery1 {
	display: flex;
	justify-content: center;
	gap: 1.6rem;
	padding-bottom: 6.044rem;
}
div.gallery2 {
	display: flex;
	justify-content: center;
	gap: 1.6rem;
}

/* ======== MAIN2=========*/

section .main2 {
	display: flex;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #5a5757;
}
section div.sideleft {
	width: 28.1rem;
	height: 66rem;
	border-right: 1px solid #5a5757;
	align-items: center;
	align-content: center;
}
section div.numbers {
	padding: 13rem 6.7rem;
}

section div.numbers h1 {
	font-family: var(--font-project);
	font-size: 5rem;
	font-weight: 600;
	line-height: 6.1rem;
	color: #ffffff;
}
section div.numbers p {
	font-family: var(--font-project);
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.4rem;
	color: #5a5757;
	padding-bottom: 7rem;
}
section div.sideright {
	height: 66rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section div.testimonials {
	display: flex;
	justify-content: space-between;
	gap: 12rem;
	padding: 7rem 13.8rem 7rem 6.8rem;
}
section div.testimonials h4 {
	font-family: var(--font-project);
	font-style: normal;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.2rem;
	color: #ffffff;
	padding-bottom: 6.3rem;
}
section div.testimonials h4 span {
	color: var(--color-logo);
	text-decoration: underline;
}
section div.testimonials p {
	font-family: var(--font-project);
	font-style: normal;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.2rem;
	color: #ffffff;
}
section div.banner img {
	padding: 1.7rem 0 0;
	max-width: 100%;
	height: 100%;
}
/* ======== MAIN3 =========*/

section.container {
	padding-top: 14.9rem;

}
div.title h1 {
	font-family: var(--font-project);
	font-style: normal;
	font-size: 5rem;
	font-weight: 700;
	line-height: 6.1rem;
	color: #ffffff;
	padding-bottom: 15.8rem;
}
div.title h1 span {
	color: var(--color-logo);
}
div.arts {
	display: flex;
	justify-content: space-between;
}
div.arts-sideleft {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5rem;
}
div.arts-sideright {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5rem;
}
/* card arts start*/
div.card-arts {
	width: 35rem;
}
div.card-arts .card-top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4.4rem;
	align-items: center;
}
div.card-arts .card-top p {
	font-family: var(--font-project);
	font-style: normal;
	font-size: 3rem;
	font-weight: 500;
	line-height: 3.7rem;
	color: #ffffff;
}
div.card-arts .card-top img {
	width: 3rem;
	height: 3rem;
}
div.card-arts .card-description {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.card-arts .card-description p {
	font-family: var(--font-project);
	font-style: normal;
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.4rem;
	color: #5a5757;
	padding-bottom: 2.6rem;
}
div.card-arts .card-description p span {
	color: var(--color-logo);
}
div.card-arts .card-image img {
	width: 35rem;
	height: 20rem;
}
/* card arts end*/

div.divider {
	width: 1rem;
	border-right: 1px solid #5a5757;
}
/* ======== MAIN4 =========*/

main .title-main4 h1 {
	padding: 14.9rem 0 12rem;
	font-family: var(--font-project);
	font-weight: 700;
	font-size: 5rem;
	line-height: 6rem;
	text-align: center;
	color: #ffffff;
}

main .title-main4 h1 span {
	color: var(--color-logo);
}
div.grid-artist {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 11rem;
	align-items: center;
	padding-bottom: 5.4rem;
}
/* ====== CARD ARTISTS ======== */
div.card-artist {
	width: 35rem;
	height: 15rem;
	background-color: var(--card-color);
	display: flex;
	align-items: center;
}
div.card-artist.active {
	background-color: var(--color-logo);
}
div.card-img img {
	width: 10rem;
	height: 10rem;
	border-radius: 10rem;
	margin: 2.5rem 4rem 2.5rem 3.2rem;
}
div.card-info p {
	font-family: var(--font-project);
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.4rem;
	font-style: normal;
	margin-bottom: 1rem;
	color: #fff;
}
div.card-info p.active span {
	color: var(--text-color);
}
div.card-info p span {
	color: var(--color-logo);
}

div.footer-artist {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	padding-bottom: 14.7rem;
}

div.footer-artist p {
	font-family: var(--font-project);
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: #ffffff;
	text-align: center;
}
div.footer-artist img {
	width: 2rem;
	height: 2rem;
}

/* ============ FOOTER ===========*/
footer{

	background-color: var(--card-color);


}
section.top-footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8.2rem 8.8rem 6rem 8.4rem;
	border-bottom: 1px solid gray;

}
section.top-footer p{
	font-family: var(--font-project);
	font-weight: 700;
	font-size: 4rem;
	line-height: 4.9rem;
	color: #fff;
}
section.top-footer p span{
	color: var(--color-logo);
}
div.rectangle-orange {
	width: 8rem;
	height: 8rem;
	background-color: var(--color-logo);
}
div.rectangle-orange img{
	padding: 2.5rem;
}
section.middle-footer {
	border-bottom: 1px solid gray;
	display: flex;
}
div.side-left-footer{
	border-right: 1px solid gray;
}
div.newsletter p {
	font-family: var(--font-project);
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.7rem;
	color: #ffffff;
	padding: 6.7rem 11.3rem 2.5rem 8.1rem;
}
div.newsletter p span {
	color: var(--color-logo);
}
div.form-email {
	display: flex;
	padding: 0 0 8.2rem 8rem;
}
div.form-email input {
	width: 28rem;
	height: 6.6rem;
	background-color: #0d0d0d;
	border: none;
	color: var(--subtitle-color);
	font-family: var(--font-project);
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
}
div.form-email input::-webkit-input-placeholder {
	padding-left: 2rem;
}
a.button-send {
	width: 12.2rem;
	height: 6.6rem;
	background-color: #ffffff;
	color: #000;
	font-family: var(--font-project);
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.4rem;
	text-align: center;
	padding: 2.2rem 0;
	margin-right: 8.8rem ;
}
div.middle-links{
	display: flex;
	padding: 0 12rem;
	align-items: center;
	align-content: center;
	gap: 12.8rem;
}
div.middle-links a{
	font-family: var(--font-project);
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: #5a5757;
}
div.middle-links a.link-bold{
	font-weight: 700;
	color: #ffffff;
}

div.business {
	display: grid;
	padding: 7.4rem 0 5.3rem ;
	gap: .35rem;
}
div.map {
	display: grid;
	padding: 7.4rem 0 5.3rem ;
	gap: .35rem;
}
div.links {
	display: grid;
	padding: 7.4rem 0 5.3rem ;
	gap: .35rem;
}
section.copy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6.9rem 8.4rem;
}
section.copy p{
	color: var(--subtitle-color);
	font-family: var(--font-project);
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
}
div.social {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
}